<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>List</title>
</head>
<header>
    <nav>
        <ul class="nav">
            <li class="navi">
                <a class="today" href="/">📅 Today</a>
            </li>
            <li class="navi">
                <a class="Work"  href="/work">💼 Work</a>
            </li>
        </ul>
    </nav>
    <hr>
</header>
<body>
<main>